.DS_Store
node_modules/
__pycache__/
*.pyc
.gstack/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
**/test/failures/
doc/
**/build/
**/.dart_tool/
**/pubspec.lock
!pubspec.lock
.fvm/
